<div id="background-container">

    <div id="sidebar-toggle" [style.top.px]="sidebar_top_css" [style.left.px]="sidebar_left_css">
        <sidebar-navigation (sidebar_state_change)="sidebarStateChange($event)"></sidebar-navigation>
    </div>

    <div id="homepage-intro">
        <img src="../assets/images/HEADER-1.png " id="background-image" alt="Event">

        <div id="homepage-text">
        <img src="../assets/images/logo.PNG" id="intro-logo" alt="GUNFINGAZ logo">
        <img src="../assets/images/moto.PNG" id="intro-moto" alt="GUNFINGAZ moto">

        </div>
    </div>

    <div id="content-container">

        <mat-grid-list cols = "2" rowHeight = "200px" colHieg>
            <mat-grid-tile *ngFor="let article of articles" [colspan] = "1" [rowspan] = "1"></mat-grid-tile>
        </mat-grid-list>

    </div>
    <!-- <div id="content-container">

        <div *ngFor="let article of articles">
            <article-portal [content]="article" id=""></article-portal>
        </div>
    
    </div> -->

</div>