<div id="background-container">

    <div id="sidebar-toggle">
        <img src="../assets/images/placeholder.png" id="sidebar-toggle-picture" alt="Side Bar Toggle">
    </div>

    <div id="homepage-intro">
        <img src="../assets/images/background.png" id="background-image" alt="Event">

        <div id="homepage-text">
        <img src="../assets/images/logo.PNG" id="intro-logo" alt="GUNFINGAZ logo">
        <img src="../assets/images/moto.PNG" id="intro-moto" alt="GUNFINGAZ moto">

        </div>
    </div>
</div>