<div id="background-container">

    <div id="sidebar-toggle" [style.top.px]="sidebar_top_css" [style.left.px]="sidebar_left_css">
        <sidebar-navigation (sidebar_state_change)="sidebarStateChange($event)"></sidebar-navigation>
    </div>

    <div id="homepage-intro">
        <img src="../assets/images/HEADER-1.png " id="background-image" alt="Event">

        <div id="homepage-text">
        <img src="../assets/images/logo.PNG" id="intro-logo" alt="GUNFINGAZ logo">
        <img src="../assets/images/moto.png" id="intro-moto" alt="GUNFINGAZ moto">

        </div>
    </div>

    <div id="content-container">

        <div *ngFor="let article of articles">
            <article-portal [content]="article"></article-portal>
        </div>
    
    </div>

</div>